.tw_percent {
  color: white;
  background-color: #43ac6a;
  padding: 5px 8px;
  border-radius: 3px;
}
.tw_danger {
  background-color: #f04124;
}
.tw_grey {
  background-color: #e7e7e7;
  color: #767676;
}